/*
###################
# GLOBAL ELEMENTS #
###################
*/

a {
    color: #fff;
}

a:hover {
    color: #e0a900;
}

body {
    background-color: #1f1f1f;
    color: #fff;
    font-family: "Raleway", sans-serif;
}

br {
    display: block;
    margin: 10px 0;
}

button {
    background-color: #000;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    padding: 8px;
}

button:hover {
    background-color: #e0a900;
}

fieldset {
    border: 1px solid #e0a900;
    border-radius: 5px;

    margin-bottom: 25px;
}

footer {
    text-align: center;
}

form {
    background-color: #4d4d4d;
    border-radius: 10px;
    padding: 10px;
}

h3 {
    text-align: center;
    color: #e0a900;
}

h4 {
    text-align: center;
    padding-bottom: 15px;
}

h5 {
    font-size: 16px;
}

header {
    text-align: center;
    padding-top: 4%;
}

header > h1 {
    background-color: #4d4d4d;
    border-radius: 5px;

    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

input[type="text"] {
    border-radius: 5px;

    display: block;
    height: 20px;
    width: 100%;
}

label {
    padding-top: 10px;
}

label {
    display: inline-block;
    width: 100%;
}

legend {
    background-color: #e0a900;
    border-radius: 5px;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;

    padding: 5px;
}

/*
###################
# TARGET ELEMENTS #
###################
*/

/* Incomplete form errors */
#ans-info,
#ans-all {
    color: red;
}

/* Align result text */
#ans-disp {
    text-align: left;
}

/* Badge Image */
#badge {
    max-width: 200px;
}

/* Set main content layout and padding */
#content {
    display: grid;
    grid-template-columns: 80% auto;
    grid-gap: 10px;

    padding-top: 45px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 45px;
}

/* Create grid inside form info section */
#info {
    display: grid;
    grid-template-columns: 60% auto;
    grid-gap: 20px;
}

#info > p {
    padding-top: 10px;
}

/* Start Over button */
#reload {
    margin-top: 25px;
}

/* Result page styling */
#result-container > div {
    background-color: #4d4d4d;
    border-radius: 10px;
    text-align: center;

    padding: 20px;
}

/* Sidebar styling */
#sidebar {
    background-color: #4d4d4d;
    border-radius: 10px;

    padding: 10px;
}

/*
###########
# CLASSES #
###########
*/

/* Show passing form validation */
.check:after {
    content: " ✅";
}

/* Show failing form validation - names */
.error_name:after {
    content: " ❌ Invalid Name. No spaces, numbers or symbols please.";
    color: red;
}

/* Show failing form validation - emails */
.error_email:after {
    content: " ❌ Invalid Email Format";
    color: red;
}

/* Show failing form validation - phone numbers */
.error_tel:after {
    content: " ❌ Invalid Phone Number Format. Please use xxx-xxx-xxxx";
    color: red;
}

/* Show failing form validation - URLs */
.error_url:after {
    content: " ❌ Invalid URL. URLs start with http:// or https://";
    color: red;
}

/* Utility class - hide content */
.hide {
    display: none;
}
