body {
    background-color: #1f1f1f;
    color: #fff;
    font-family: sans-serif;
}

br {
    display: block;
    margin: 10px 0;
}

button {
    background-color: #000;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    padding: 8px;
}

button:hover {
    background-color: #e0a900;
}

fieldset {
    margin-bottom: 25px;
}

form {
    background-color: #4d4d4d;
    border-radius: 10px;
    padding: 10px;
}

h5 {
    font-size: 16px;
}

input[type="text"] {
    display: block;
    height: 20px;
    width: 100%;
}

label {
    padding-top: 10px;
}

legend {
    color: #e0a900;
    font-size: 25px;
    text-transform: uppercase;
}

#ansInfo,
#ansAll {
    color: red;
}

#form-container {
    padding-top: 75px;
    padding-left: 10%;
    padding-right: 10%;
}

#result-container {
    padding-top: 75px;
    padding-left: 10%;
    padding-right: 10%;
}

#result-container > div {
    background-color: #4d4d4d;
    border-radius: 10px;
    text-align: center;
    
    padding: 20px;
}

.check:after {
    content: " ✅";
}

.error_name:after {
    content: " ❌ Invalid Name. No spaces, numbers or symbols please.";
    color: red;
}

.error_email:after {
    content: " ❌ Invalid Email Format";
    color: red;
}

.error_tel:after {
    content: " ❌ Invalid Phone Number Format. Please use xxx-xxx-xxxx";
    color: red;
}

.error_url:after {
    content: " ❌ Invalid URL. URLs start with http:// or https://";
    color: red;
}

.hide {
    display: none;
}
